*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    
}
.contenedorFormulario {
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px red;
  }
  
  /* Estilos para el formulario */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Estilos para las etiquetas de los campos del formulario */
  label {
    margin-bottom: 8px;
  }
  
  /* Estilos para los campos de entrada del formulario */
  input {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
  }
  
  /* Estilos para el mensaje de error */
  p {
    color: red;
    margin-top: -10px; /* Ajuste de margen para que no haya demasiado espacio entre el mensaje y los campos del formulario */
  }