.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: 300;
    color: var(--color-titulos-principales);
}
.navbar-link{
    font-weight: 600;
    color: var(--color-titulos-principales);
    font-size: 2rem;
    transition: color 0.3s;
    margin-right: 20px;
}
.navbar-link:hover{
    color: #d7dfdc;;
}
.nav-ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.logout-btn{
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    margin-top: 4px;
}
.logout-btn i{
    font-size: 20px;
    color: var(--color-titulos-principales);
    transition: color 0.3s;
}
.logout-btn i:hover{
    color: #d7dfdc;
}
